
.grid-main{
  @include size(auto, 100%);
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* repeat = as many times as you can fit */
  /* auto-fit = fit as many items on the line as possible, go bigger if you need to */
  /*minmax = (min size, max size) = the minimum size the column should be is 200px, but if there's space then give them all 1fr of that width. */
  grid-gap: 20px;

  background-color:$background-color-3;
  padding: 20px;
  border-radius: 4px;
}
