

.active-validation{
  @include size(auto, 100%);
  @include flex( center, flex-start, row);
  background-color: $semi-white-blue;
  margin-bottom: 30px;
  border-radius: 4px;
  padding: 0 8px;
  svg{
    @include flex(center, center, row);
    @include size(32px, 32px);
    padding: 8px;
    fill: $blue-1;
    border-radius: 4pc;
    margin-right: 10px;
  }
}
