
.active-validation{
  @include size(auto, 100%);
  @include flex( center, flex-start, row);
  background-color: $semi-white-blue;
  margin-bottom: 20px;
  margin-top: -20px;
  border-radius: 4px;
  padding: 0 8px;
  svg{
    @include flex(center, center, row);
    @include size(32px, 32px);
    padding: 8px;
    fill: $blue-1;
    border-radius: 4pc;
    margin-right: 10px;
  }
}

//on click animation
.grow{ animation: example 600ms $animation 1 forwards;}

//animation definition
@keyframes example {
    from {
      color:inherit;
      transform: scale3d(1,1,1);
      opacity: 1;
    }
    to {
      color:white;
      transform: scale3d(1.5,1.5,1);
      opacity: 0.03;
    }
}
