//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import 'header';
@import 'body';

html{
  @include font;
  background-color: $white;
}

body{
  @include flex(center, flex-start, column);
  @include size(100%, 100%);
  margin: 0;
}

h1{font:$h1;}h2{font:$h2;}h3{font:$h3;}h4{font:$h4;}p{font:$p;}



//main layout
main{
  @include size(auto, 100%);
  @include flex(flex-start, flex-start, column);
  max-width: 1080px;
  padding: 40px 20px;
}

.card{
  @include size(300px, 100%);
  @include shadow();
  border-radius: 4px;
  background-color: white;
  @include flex(flex-start, center, column);
  padding: 15px;
  position: relative;
  @include transition(transform)
  h2{line-height: 1.5};
  h3{
    position: absolute;
    bottom: 0;
    color:$border-color-2
  };
  &:hover{
    cursor: pointer;
    transform: scale3d(1.04,1.04,0);
  }
}

.featured{
  background: url('../img/learn.jpg');
  grid-column: span 2;
  background-size: cover;
  color:white;
  code{color:white;}
}

code{
  color: $font-color-2;
  text-transform: capitalize;
  font:$p;
}

.hero{
  padding: 80px 0;
}

.terciary{
  background-color: $background-color-3;
  border: none;
  border-radius: 20px;
  font:$p;
  font-size: 14px;
  padding: 0 15px;
  &:hover{
    background-color: $light-grey-2;
    opacity: 0.8;
    cursor: pointer;
  }
}

.filter-active, .filter-active:hover{
  background-color: $font-color-1;
  color: white;
}

.filters{
  margin: 0px 0 40px 0;
}
