@charset "UTF-8";
header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 20px;
  background-color: white;
}

header .logo {
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  fill: #22272E;
}

header .main-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

header .main-links > * {
  margin-left: 20px;
  position: relative;
}

header .main-nav:hover {
  cursor: pointer;
}

header .main-nav:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  left: 0;
  bottom: -25px;
}

header .main-nav:hover:after {
  background-color: #D5DAE0;
}

header .nav-active:after {
  background-color: #22272E;
}

header .nav-active:hover:after {
  background-color: #22272E;
}

nav {
  height: 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 20px;
  background-color: #F2F4F6;
  font: #627386;
}

.active-validation {
  background-color: #F2F4F6;
}

.grid-main {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  background-color: #F2F4F6;
  border-radius: 4px;
  padding: 20px;
}

.card {
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  position: relative;
}

.card h2 {
  line-height: 1.5;
}

.card h3 {
  position: absolute;
  bottom: 0;
  color: #D5DAE0;
}

.card:hover {
  cursor: pointer;
  transform: scale3d(1.04, 1.04, 0);
}

.card:active {
  transform: scale3d(0.94, 0.94, 0);
}

.terciary {
  background-color: #F2F4F6;
  border: none;
  border-radius: 20px;
  font: 400 14px/22px "nutanix_soft", san-serif;
  font-size: 14px;
  padding: 0 15px;
}

.terciary:hover {
  background-color: #D5DAE0;
  opacity: 0.8;
  cursor: pointer;
}

.filter-active, .filter-active:hover {
  background-color: #22272E;
  color: white;
}

.filters {
  margin: 0px 0 40px 0;
}

.featured {
  background: url("../img/learn.jpg");
  grid-column: span 2;
  background-size: cover;
  color: white;
}

.featured code {
  color: white;
}

.featured2 {
  background: url("../img/ahv.jpg");
  grid-column: span 2;
  background-size: cover;
  color: white;
}

.featured2 code {
  color: white;
}

@media only screen and (max-width: 600px) {
  .featured, .featured2 {
    grid-column: span 1;
  }
}

.active-validation {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: #f4fbff;
  margin-bottom: 20px;
  margin-top: -20px;
  border-radius: 4px;
  padding: 0 8px;
}

.active-validation svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 32px;
  width: 32px;
  box-sizing: border-box;
  padding: 8px;
  fill: #22A5F7;
  border-radius: 4pc;
  margin-right: 10px;
}

.grow {
  animation: example 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 1 forwards;
}

@keyframes example {
  from {
    color: inherit;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    color: white;
    transform: scale3d(1.5, 1.5, 1);
    opacity: 0.03;
  }
}

.grid-validation {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  background-color: #F2F4F6;
  border-radius: 4px;
  padding: 20px;
}

html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #FFFFFF;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

code {
  color: #627386;
  text-transform: capitalize;
  font: 400 14px/22px "nutanix_soft", san-serif;
}

kbd {
  font: 400 14px/22px "nutanix_soft", san-serif;
  font-weight: 500;
}

.alt {
  color: #627386;
}

main {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1080px;
  padding: 40px 20px;
}

.subtitle {
  line-height: 1.5;
}

.hero {
  padding: 50px 0 80px 0;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.chat-container {
  border-radius: 4px;
  background-color: white;
  padding: 20px;
  position: relative;
}

.chat-container hr {
  border: none;
}

.chat-container h2 {
  line-height: 1.5;
}

.chat-container h3 {
  position: absolute;
  bottom: 0;
  color: #D5DAE0;
}

.grid-validation {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
  background-color: #F2F4F6;
  border-radius: 4px;
  padding: 20px;
}

.bubble-user, .bubble-nutanix, .bubble-service {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.bubble-user h2, .bubble-nutanix h2, .bubble-service h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: white;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  border-radius: 4pc;
}

aside hr {
  height: 1px;
  background-color: #D5DAE0;
  border: none;
  opacity: 0.5;
}

aside .uploaded-file {
  margin: 10px 0;
  padding-left: 40px;
  position: relative;
}

aside .uploaded-file h3, aside .uploaded-file p {
  margin: 0;
  line-height: 1.2;
}

aside .uploaded-file h3 {
  margin-bottom: 5px;
  font-size: 12px;
}

aside .uploaded-file p {
  font-size: 12px;
}

aside .uploaded-file::after {
  content: '📩';
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 0px;
}

aside .requested {
  margin-bottom: 20px;
}

aside .requested::after {
  content: '📨';
  top: 40%;
}

.bubble-user {
  background-color: #f5fdf7;
}

.bubble-nutanix {
  background-color: #f4fbff;
}

.bubble-service {
  background-color: #F8F9FA;
  position: relative;
}

.bubble-service #system-chat {
  position: relative;
  font: 400 14px/22px "nutanix_soft", san-serif;
  font-weight: 600;
}

.bubble-service #system-chat::after {
  position: absolute;
  content: '';
  top: 5px;
  right: -10px;
  height: 6px;
  width: 6px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #22A5F7;
}
